In [1]:
import pandas as pd
import requests as rq
from bs4 import BeautifulSoup as bs
import lxml

In [2]:
html_text = rq.get('https://www.fis-ski.com/DB/general/cup-standings.html?sectorcode=JP&seasoncode=2023&cupcode=WC&disciplinecode=ALL&gendercode=M&nationcode=').text

In [3]:
soup = bs(html_text, 'lxml')

In [4]:
rows = soup.find_all('div', class_='container g-row')

In [5]:
names = [row.find('div', class_='g-xs-10 g-sm-9 g-md-4 g-lg-4 justify-left bold align-xs-top').text.strip() for row in rows]

In [6]:
countries = [row.find('span', class_='country__name-short').text for row in rows]

In [7]:
points = [row.find('div', class_='pl-xs-1 pl-sm-1 g-xs-10 g-sm-7 g-md-9 g-lg-8 justify-right bold').text for row in rows]

In [8]:
df = pd.DataFrame()
df['name'] = names
df['country'] = countries
df['points'] = points

In [9]:
df

                     name country points
0           KUBACKI Dawid     POL    770
1            LANISEK Anze     SLO    682
2   GRANERUD Halvor Egner     NOR    616
3            KRAFT Stefan     AUT    525
4              ZYLA Piotr     POL    497
..                    ...     ...    ...
59             HABDAS Jan     POL    ---
60          HAMANN Martin     GER    ---
61          MALTSEV Kevin     EST    ---
62              ROTH Luca     GER    ---
63           SATO Keiichi     JPN    ---

[64 rows x 3 columns]